@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
    color: #333;
    width: 90%;
    max-width: 1240px;
    margin: auto;
    font-size: 18px;
}

:root {
    --primary-color: #FF6060;
    --black-color: black;
    --white-color: #fff;
    --text-color-primary: #FF6060;
    --text-color-secondary: white;
    --bg-home-grey: #F6F6F6;
}
main {
    min-height: 100vh;
}
/* class for hide line over 2 */
.custom-off {
    --max-line: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-break: var(--max-line);
}

@media screen and (max-width: 789px){
    body {
        max-width: 90%;
    }

}
