body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FF6060;
    --black-color: black;
    --white-color: #fff;
    --quaternary-color: #333;
}