/* banner header */
.home_banner_header {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 223px;
    overflow: hidden;
}.home_banner_header::before {
     border-radius: 15px;
     content: '';
     position: absolute;
     width: 90%;
     height: 223px;
     background: var(--black-color);
     opacity: 0.3;
     z-index: 1;
     max-width: 1240px;
 }

.home_banner_header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home_banner_header h1 {
    position: absolute;
    font-size: 48px;
    color: white;
    text-align: center;
    z-index: 2;
    width: 90%;
}
/* Home card */
.home_body  {
    border-radius: 15px;
    margin-top: 3rem;
    background: var(--bg-home-grey);
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}
.home_body .home_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    width: 100%;
}
.home_list_item {
    overflow: hidden;
    max-height: 340px;
    display: block;
    flex-direction: column;
    align-items: start;
    height: 100%;
    margin-bottom: 40px;
    border-radius: 15px;
}
.home_list_item a {
    position: relative;
    top: -55px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
}.home_list_item a:hover {
    transition: all 0.3s ease-in-out;
     background: rgba(0, 0, 0, 0.5);
 }
.home_list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 340px;
    min-height: 340px;
    z-index: 1;
}
.home_list_item_text {
    background: rgba(0, 0, 0, 0.3);
}

.home_list_item_text  {
    font-size: 24px;
    color: var(--white-color);

}
@media screen and (max-width: 789px){
    .home_banner_header {
        height: 111px;
    }
    .home_banner_header::before {
        height: 111px;
    }
    .home_banner_header h1 {
        font-size: 24px;
        text-align: start;
        left: 20px;
    }
    /* HomePage */
    .banner_header_title_span {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }
    .home_body {
        padding: 0;
        background: transparent;
    }
    .home_body .home_list {
        display: flex;
        flex-direction: column;
    }
    .home_list_item {
        padding-bottom: 20px;
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
    }
}
