.product {
    width: 100%;
}

.product_container {
    min-height: 80vh;
}

.product__disc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.product__header {
    width: 100%;
}
.product__header img {
    width: 100%;
    border-radius: 10px;
}
.header_product {
    background: red;
}
/*TEXT*/
.header_product  .product__text {
    display: flex;
    flex-direction: column;
    background: green;
}
/*PROFILE*/
.header_product .product__profile {
    display: flex;
    flex-direction: row;
    background: yellow;
}
.product__profile img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
/*OTHER*/
.header_product  .product__more {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: blue;
}

@media (max-width: 768px) {
}
