.product {
    width: 100%;
}

.product__disc {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 0;
}
.product__disc span {
    width: 100%;
}

.product__header {
    color: var(--primary-color);
    width: 100%;
}

.product__header img {
    width: 100%;
    border-radius: 10px;
    max-height: 415px;
}

.header_product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first, .second {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first h1 {
    font-size: 36px;
}
.second {
    padding-top: 10px;
}

.product__tags {
    font-size: 14px;
    display: flex;
    gap: 10px;
    color: white;
}
.product__tags li {
    background: var(--primary-color);
    padding: 5px 0;
    border-radius: 10px;
    min-width: 115px;
    text-align: center;
}

.product__rating {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.stars {
    display: flex;
    gap: 10px;
    font-size: 36px;
}
.star-x {
    color: grey;
}
.star {
    color: #FFD700;
}

.product__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    gap: 10px;
}

.product__profile p {
    width: 60%;
    position: relative;
}

.product__profile img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}


@media (max-width: 789px) {
    .header_product {
        flex-direction: column;
    }
    .first, .second {
        gap: 10px;
    }
    .second {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .stars {
        display: flex;
        gap: 5px;
        font-size: 18px;
    }
    .first h1 {
        font-size: 18px;
    }
    .first p {
        font-size: 14px;
    }
    .second {
        padding-top: 20px;
    }
    .product__tags {
        font-size: 10px;
    }
    .product__profile p {
        font-size: 12px;
    }
    .product__profile img {
        width: 32px;
        height: 32px;
    }
    .product__tags li {
        min-width: 84px;
    }
    .product__disc {
        flex-direction: column;
    }

}